body {
    /* background-color: black; */
}

.flex {
    display: flex;
}

.border {
    border: 2px solid red;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
}